<!-- Navbar
================================================== -->

<div class="navbar navbar-inverse">
   <div class="navbar-inner">
       <a class="brand" href="/">Be The Change</a>
       
        <ul class="nav" id="main-menu-left">
          <!--
          <li><a onclick="pageTracker._link(this.href); return false;" href="http://www.be.the.change.ch/posts">Blog</a></li>
          -->
          <li><a href="/events/#">Veranstaltungen</a></li>
	      <li><a href="/blogs/">Blog</a></li>
		  <!--li><a href="#">Newsletter</a></li-->
         
        </ul>

  </div> <!-- navbar-inner -->
</div> <!-- navbar -->
 
