--- 
title: Be The Change Blog
lead:  News aus der Welt im Wandel
---

<div class="row-fluid">
  <div class="span8">
  
<% (@site.sorted_articles).each do |post| %>
	<h3><%= link_to post[:title], post.path %></h3>
	<p><%= get_pretty_date(post) %> - 	
    <%= post[:lead] %></p>

<% end %>
  </div>
  
  <div class="span3">

	<h3><a href="https://twitter.com/go4yourvision" target="_blank">Tweeds</a></h3>
	
	<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 4,
  interval: 6000,
  width: 216,
  height: 240,
  theme: {
    shell: {
      background: '#ffffff',
      color: '#292b2c'
    },
    tweets: {
      background: '#f6f6f6',
      color: '#292b2c',
      links: '#1388d2'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: false,
    behavior: 'all'
  }
}).render().setUser('go4yourvision').start();
</script>


  </div>  <!-- span -->
</div> <!-- row -->