--- 
title: Du bist die Veränderung
lead: "Eine Vision ohne Plan ist nur ein Traum. Ein Plan ohne Vision ist nur Plackerei. Aber eine Vision mit Plan kann die Welt verändern."
---



    	    
	   
      
<div class="row">
  <div class="span4">
	
  		<img src="./assets/img/btc-hands.jpg" class="img-rounded" width="370" alt="BE THE CHANGE SCHWEIZ"/>
		  
		  
	  <h4 align="center">Follow Your Vision</h4> 
	   <br>
	   <br>	  
	  <div class="well">

	
		<h3><a href="/blogs/">BTC Blog</a></h3>
		
	<% (@site.sorted_articles[0..4]).each do |post| %>
		<h4><%= post[:title] %></h4>
		<p><small><%= get_pretty_date(post) %> - 	
	    <%= post[:lead] %> <%= link_to 'Mehr&nbsp;&raquo;', post.path %> </small></p>
	
	<% end %>

   </div> <!-- hero -->
 </div> <!-- span -->    		  

      		
  <div class="span8">
      			<h2 class="">Wo um alles in der Welt gehen wir hin?
      			Und welchen Einfluss haben wir darauf? 
      			Wir freuen uns  dich zum Symposium 'Welt im Wandel' einzuladen.</h2>
      		      		

      		<p class="lead">
Um diese und andere Fragen geht es im Symposium 'Welt im Wandel'. Die eintägige Veranstaltung besteht aus aktuellen Informationen, dynamischen Interaktionen und kraftvollen Kurzfilmen, in denen einige der wichtigsten Denker und Aktivisten unserer Zeit zu Wort kommen. </p>

<p class="lead">
Das Anliegen des Symposiums ist, unsere Herzen und Augen für die aktuelle Situation zu öffnen und uns zu inspirieren und zu ermutigen, selbst aktiver Teil einer grossartigen Veränderung auf diesem Planeten zu werden. Eine Veränderung, die jeden braucht und nur gemeinsam und umfassend geschehen kann.
      		</p>

</p>

<h2>Nächste Termine</h2>
		
	<% (@site.sorted_events[0..4]).each do |event| %>
		<h3><%= event[:title] %><h3>
		<p class="lead">	
	    <%= event[:lead] %> <%= link_to('Mehr &raquo;', event.reps[0], :id => 'bloglink') %></p>
	
	<% end %>



 
<p class="lead">Weiterführende Informationen findest Du auch auf <a href="http://www.pachamama.org/" target="_blank">pachamama.org</a> und auf <a href="http://www.be-the-change.de/" target="_blank">be-the-change.de</a>.</p>
      		</div>
      </div>

      

   


